
.goals-background-image-container,
.goals-section-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;   
  overflow: hidden; 
  padding-left: 20px;  
  padding-right: 10px;  
}
.goals-background-image-container img,
.goals-section-image-container img {
  max-width: 150px;   
  max-height: 150px;  
  border-radius: 10px;  
}
.goals-background-image-container{
  text-align: center;
  margin-top: 20px;
}

.Goals-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Set the height of the container */
  margin-left: 95px;
  margin-right: 95px;
}

.square-box-goal {
  width: 275px;
  height: 150px;
  background-color: #4E8329;
  border-radius: 10px;
  position: absolute;
  margin: 30px; /* Add margin between squares */
}
.grey-box-1 {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    position: absolute;
    top:40px;
    left: -10px;
  }

  .grey-box-2 {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    position: absolute;
    top: 90px;
    left: -10px;
  }

  .grey-box-3 {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    position: absolute;
    top:40px;
    right: -10px;
  }

  .grey-box-4 {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    position: absolute;
    top: 90px;
    right: -10px;
  }

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.goal-circle {
  width: 60px;
  height: 60px;
  background-color: #4E8329;
  border-radius: 50%; /* Create a circle */
  position: absolute;
  top: -65px; /* Adjust based on your design */
  left: 10%;
  bottom:10%;
  transform: translateY(-2%);
  transform: translateX(-50%);
}

.goal-image-one {
  width: 70px; /* Adjust based on your design */
  height:70px; /* Adjust based on your design */
  object-fit: cover;
  border-radius: 50%; /* Ensure the image is circular */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goal-image {
  width: 48px; /* Adjust based on your design */
  height:48px; /* Adjust based on your design */
  object-fit: cover;
  border-radius: 50%; /* Ensure the image is circular */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.goal-text-box {
  padding-bottom: 10px;
  padding: 30px;
  border-radius: 10px;
  font-size:1rem;
  font-weight: bold;
  width: 300px; /* Adjust the width as needed */
  padding-bottom: 45px;
  position: absolute;
  top: 50%;
  left: calc(50px + -10px);
  transform: translateY(-150%);

}

.goal-text {
  text-align: center;
  font-size:0.8rem;
  color: #ffffff;
  padding-left: 13px;
  padding: 30px;
  border-radius: 10px;
 
  position: absolute;
  bottom: -15px;

}

.center-image {
  position: absolute;
  width: 400px; /* Set the width of the image */
  height: 100%; /* Set the height of the image */
  object-fit: cover; /* Ensure the image covers the container */
  z-index: 1; /* Ensure the image is above the squares */
}


/* image csss of divs are not created */
/* .goals-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  }*/

